@media(max-width: 500px) {
  .container {
      display: block;
  }
    .df {
        display: block;
    }
    .nav-btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 20px;
    }
    
    .menu {
        display: none;
    }

    .modal {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btn-media {
        display: none;
    }

    .open-btn {
        display: block;
    }

    .logo {
        width: 150px;
    }

    .nav {
        position: fixed;
        z-index: 3;
        display: block;
        top: 0;
        left: 0;
        height: 100vh;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .nav.visible {
        transform: translateX(0);
    }

    .nav-black {
        background-color: rgb(34,31,31);
        width: 60%;
        max-width: 480px;
        min-width: 320px;
        transition-delay: 0.4s;
    }

    .nav-red {
        background-color: #1946BA;
        width: 95%;
    }

    .mySwiper2{
        display: block;
    }

    .mySwiper1 {
        display: none;
    }

    .nav-white {
        background-color: #ffff;
        width: 95%;
        padding: 40px;
        position: relative;
    }

    .close-btn {
        position: absolute;
        top: 40px;
        right: 30px;
        color: #000!important;
    }

    .list {
        list-style-type: none;
        padding: 0;
    }

    .text-wrapper h1 {
        font-size: 21px;
        width: 400px;
    }

    form button {
        width: 400px;
    }

    form {
        display: block;
        width: 75%;
        margin: 20px auto;
        text-align: center;
    }

    form input {
        margin: 20px 0;
        width: 400px;
    }

    .swiper-slide {
        width: 497px!important;
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        left: 94%!important;
    }

    .swiper-slide img {
        width: 475.12px;
        height: 373px;
    }

    .btn-wrapper button {
        margin: 20px 0;
    }

    .list li {
        margin: 20px 0;
    }

    .list li a {
        color: rgb(34,31,31);
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
    }

    .medias{
        display: flex;
    }

    .card img {
        width: 100px;
        height: 98px;
    }

    .swiper-slide-media {
        width: 498px!important;
    }

    .swiper-height {
        height: 65vh!important;
    }

    .transform {
        transform: translateY(50px) !important;
    }

    .content-text {
        width: 500px;
        height: 340px;
    }

    .images {
        background-position: right -4%;
        background-size: 46%;
    }

    .text h1 {
        width: 228px;
        font-size: 35px;
        line-height: 50px;
    }

    .desc{
        display: none!important;
    }

    .main-text {
        margin: 0 20px;
    }

    .main-text p {
        width: 441px;
    }

    .swiper-pagination-top {
        width: 302px!important;
    }

    .swiper-button-next, .swiper-rtl .swiper-button-prev {
        right: 9% !important;
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: 70% !important;
    }

    .list ul {
        list-style-type: none;
        padding-left: 20px;
    }
    .main-text h1 {
        font-size: 35px;
    }
}